<div
    class="like_icon"
    id="like_wts_app_icon"
    data-product-id="{{ product.id }}"
  ></div>

  {% schema %}
  {
    "name": "WTS Like Icon Block",
    "target": "section",
    "settings": []
  }
  {% endschema %}